* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: white;
  color: white;
}

:root {
  --padding-h: 56px;
  --padding-v: 144px;
}

/* GLOBAL */

p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3em;
  max-width: 545px;
}
h2 {
  font-family: "Anton", sans-serif;
  line-height: 100%;
  font-weight: normal;
  font-size: 100px;
}
h3 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2em;
}

/* HEADER */

header {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: var(--padding-h);
  padding-block: 10px;
}
header h4 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4em;
}

#left-header {
  display: flex;
  gap: 30px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

/* HERO SECTION */

#hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #161415;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 2;
  padding-inline: var(--padding-h);
}

.hero-content h1 {
  font-family: "Anton", sans-serif;
  line-height: 100%;
  font-weight: normal;
  font-size: 140px;
}

.hero-content h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2em;
}

.hero-content h3 {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.3em;
}

.hero-footer {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-animated-text {
  overflow: hidden;
}

.animated-text {
  transform: translateY(100%);
  animation: slideUp 1.3s ease forwards;
  animation-delay: 3s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* WHO SECTION */

#who-section {
  padding-inline: var(--padding-h);
  padding-block: var(--padding-v);
  background-color: #161415;
}
#who-container {
  max-width: 1440px;
  margin-inline: auto;
}
.who-text-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#profile-container {
  display: flex;
  gap: 24px;
}

.dancer-container img {
  width: 100%;
  filter: grayscale(100%);
}
.dancer-container img:hover {
  filter: none;
}
.dancer-container:nth-of-type(1) {
  margin-top: 100px;
}
.dancer-container:nth-of-type(2) {
  margin-top: 200px;
}
.dancer-container:nth-of-type(3) {
  margin-top: 180px;
}
.dancer-container:nth-of-type(4) {
  margin-top: 136px;
}

/* WORK SECTION */

#work-section {
  padding-inline: var(--padding-h);
  padding-block: var(--padding-v);
  background-color: #161415;
}
#work-section h2 {
  margin-bottom: 56px;
}
.background-line {
  background-color: #161415;
}
.simple-line {
  background-color: white;
  height: 2px;
  width: 50%;
  margin-inline: auto;
}
#work-main-container {
  max-width: 1440px;
  margin-inline: auto;
}
#work-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 56px;
  row-gap: 92px;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 800px; /* Hauteur fixe pour chaque élément */
}

.work-image {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.work-image img {
  filter: grayscale(100%);
  width: 100%;
  max-height: 100%;
  scale: 1.15;
  object-fit: cover; /* Ajuste l'image pour qu'elle couvre entièrement son conteneur */
}
.work-image img:hover {
  filter: none;
  scale: 1;
}

.work-content:nth-of-type(1) {
  padding-top: 80px;
}
.work-content:nth-of-type(4) {
  padding-top: 80px;
}
.title-work {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 12px;
}
.line {
  width: 80px;
  height: 2px;
  background: white;
  margin-right: 16px;
}

/* CONTACT SECTION */

#contact-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding-top: 56px;
}
#contact-section h1 {
  text-align: center;
  color: black;
  font-family: "Anton", sans-serif;
  font-size: calc(0.5 * (1.5vh + 44vw));
  padding-inline: 45px;
  padding-block: 10px;
  line-height: 100%;
  letter-spacing: 0.1em;
}
#info-contact {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 56px;
  align-items: flex-end;
}

#left-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#left-contact a {
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2em;
}

.arrow-contact {
  height: 30px;
  width: 30px;
}

#right-contact h2 {
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2em;
}
